<head>
<style>
body
   {
   font-family:sans-serif;
   }
.topbar
   {
   position: fixed;
   width: 99%;
   height: 75;
   background-color: #181818;
   }
.main
   {
   position: fixed;
   width: 100%;
   top: 90px;
   left: 20px;
   background-color: white;
   }
.serlogo
   {
   position: fixed;
   top: 10px;
   left: 20px;
   }
.hpelogo
   {
   position: fixed;
   top: 22;
   right: 60px;
   }
.coltitles
   {
   font-weight: bold;
   background-color: #66CCAA;
   width: 800px;
   }
.keyword,.weight
   {
   width: 250px;
   }
.links
   {
   width: 300px;
   }
</style>
</head>
<body>
<div class="topbar">
<div class="serlogo"><a href="/query"><img src="/public/images/ser.png"/></a></div>
<div class="hpelogo"><img src="/public/images/HPE_log_left_wht.png" height="45px"/></div>
</div>
