<div class="main">
<h1>Query</h1>
<form action="/categorySuggestFromText/" method="POST">
<div><textarea name="body" rows="10" cols="80"></textarea>
<input type="image" src="/public/images/search.gif" alt="categorySuggest"></div>
</div>
</form>
</body>
